.offcanvas {
    background-color: rgb(40, 38, 38);
    color: white;
}

.offcanvas button.btn-close {
    background-color: #ffffff; 
}

a.dropdown-item { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}


.btn-bg {
    background-color: black;
    border: 1px solid white;
}

.btn-primary:hover {
    background-color: grey; 
    border-color: white;
}

.navbar-bg {
    background: linear-gradient(to bottom, black, rgb(45, 45, 45));
}

body {
    background: linear-gradient(to bottom, black, rgb(50, 50, 50));
    background-attachment: fixed;

}

.card-bg {
    background: linear-gradient(to bottom, rgb(97, 94, 94), rgb(162, 162, 162));
    border-color: black;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #fff;
}
